<div class="login-box w-100 p-sm pt-lg mlr-auto mt-sm" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="!logedIn">
    <h1 class="mt-sm mb-sm">Register A Party</h1>
    <form class="login-form w-100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
      <h2 class="mb-xs mt-xs">Enter Email</h2>
      <mat-form-field class="keycode" appearance="fill">
        <mat-label>Email:</mat-label>
        <input type="text" formControlName="email" class="form-control white" matInput/>
      </mat-form-field>
      <h2 class="mb-xs mt-xs">Enter Password</h2>
      <mat-form-field class="keycode" appearance="fill">
        <mat-label>Password:</mat-label>
        <input type="text" formControlName="password" class="form-control white" matInput/>
      </mat-form-field>
      <h2 class="mb-xs mt-xs">Pick a Party Code</h2>
      <mat-form-field class="keycode" appearance="fill">
        <mat-label>Party Code:</mat-label>
        <input type="text" formControlName="handle" class="form-control white" matInput/>
      </mat-form-field>
      <button mat-button (click)="help()"><p class="mb-xs mt-xs">Enter Spotify Token or Click for Help</p></button>
      <mat-form-field class="keycode" appearance="fill">
        <mat-label>Spotify Token (Optional):</mat-label>
        <input type="text" formControlName="spotify" class="form-control white" matInput/>
      </mat-form-field>
      <button class="mlr-auto" mat-raised-button color="primary" [disabled]="loginForm.pristine || loginForm.invalid">
        <h1>Create Party!</h1>
      </button>
    </form>
    <button mat-button class="mt-xs mb-xs" (click)="alert()">
      <p>Alerts</p>
    </button>
  </div>
</div>
