<div class="main p-xs mlr-auto" fxLayout="column" fxLayoutAlign="center center" >
  <h1 class="mt-xs mb-xs title">Alert the host</h1>
  <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let item of partyItems">
    <h1 class="mt-xs mt-xs item-name ellipsis">{{ item.item }}:</h1>
    <div class="pb-sm">
      <button _ngcontent-pnj-c24="" mat-mini-fab="" [color]="'green'" class="mat-mini-fab mat-button-base mat-accent" (click)="alert(item.item, 'green')">
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <button _ngcontent-pnj-c24="" mat-mini-fab="" [color]="'yellow'" class="mat-mini-fab mat-button-base mat-accent" (click)="alert(item.item, 'yellow')">
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <button _ngcontent-pnj-c24="" mat-mini-fab="" class="mat-mini-fab mat-button-base mat-warn" [color]="'red'" (click)="alert(item.item, 'red')">
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </div>
  </div>
  <div fxLayoutAlign="center center" *ngIf="currentSong">
    <div class="spotify-box w-100" fxLayout="row" fxLayoutAlign="center center" *ngIf="!loadingSong">
      <img src="{{ this.currentSong.item.album.images[2].url }}">
      <div class="song-box pl-sm" fxLayout="column" fxLayoutAlign="center center">
        <p class="ellipsis mb-xs">{{ this?.currentSong?.item?.name }}</p>
        <p class="ellipsis mt-0">{{ this?.currentSong?.item?.artists[0].name }}</p>
      </div>
    </div>
    <mat-spinner [diameter]="20" *ngIf="loadingSong"></mat-spinner>
  </div>
  <button mat-button (click)="back()">
    <h1 class="mt-xs mb-xs">Leave the Party</h1>
  </button>
</div>
