@import '../../../vars.scss';

.main {
  width: 100%;
  max-width: 600px;
  background-color: rgba(26, 8, 59, .7);
  border-radius: 20px;
}
.song-box{
  width: 100%;
  max-width: 200px;
}
.item-name{
  max-width: 200px;
}
.outter {
  margin-top: -60px;
}
.keycode{
  max-width: 300px;
}
.input-outter{
  border: 4px solid white;
  border-radius: 10px;
}
.white{
  color: white;
}
h1 {
  color: white;
  font-family: $big-shoulders;
  vertical-align: middle;
}
h2 {
  color: white;
  font-family: $big-shoulders;
}
p{
  color: white;
  font-family: $big-shoulders;
  font-size: $font-md;
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }
button {
  max-width: 200px;
  border: 1px solid white;
  margin: 5px;
}
:host ::ng-deep .mat-form-field-flex {
  border: 4px solid white;
  border-radius: 10px;
}
:host ::ng-deep .mat-form-field-underline {
  display: none !important;
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}
:host ::ng-deep .mat-yellow{
  background-color: yellow !important;
}
:host ::ng-deep .mat-green{
  background-color: green !important;
}
:host ::ng-deep .mat-red{
  background-color: red !important;
}
.title{
  font-size: 50px;
}

.main-button{
  max-width: 200px;
  background-color: yellow !important;
}
